/*
GENERAL AND GLOBAL STYLES
*/

html,body{
    font-family: 'Open Sans', sans-serif;
}

.ar-font{
    font-family: 'Tajawal', sans-serif !important;
}

.en-font{
    font-family: 'Open Sans', sans-serif !important; 
}

.ch-font{
        font-family: 'Noto Sans SC', sans-serif !important;
}

.row{
    position: relative;
    width: 100%;
    height: auto;
    height: 120px;
    margin-top: 10px;
}

.col{
    position: relative;
    display: inline-block;
    width: 48%;
    margin: 1%;
    padding: 0px;
    float: left;
}

a{
    text-decoration: none;
}