/*
GENERAL AND GLOBAL STYLES
*/

html,body{
    font-family: 'Open Sans', sans-serif;
}

.body{
    z-index: 1;
}
.ar-font{
    font-family: 'Tajawal', sans-serif !important;
    direction: rtl;
}

.en-font{
    font-family: 'Open Sans', sans-serif !important; 
}

.ch-font{
        font-family: 'Noto Sans SC', sans-serif !important;
}

.row{
    position: relative;
    width: 100%;
    height: auto;
    height: 120px;
    margin-top: 10px;
}

.col{
    position: relative;
    display: inline-block;
    width: 48%;
    margin: 1%;
    padding: 0px;
    float: left;
}

a{
    text-decoration: none;
}


.ad{
    position: relative;
    width: 95vw;
    height: auto;
    left: 2.5vw;
    right: 2.5vw;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.ad img{
    position: relative;
    width: 100%;
    max-height: 95vw;
    height: auto;
    border-radius: 10px;
}


@media (min-width: 768px) {
    .ad{
        position: relative;
        width: 50vw;
        height: auto;
        left: 25vw;
        right: 25vw;
        padding-top: 20px;
        margin-bottom: 50px;
        border-radius: 10px;
    }
}